/HelloWorld/target/
/Adder/target/
/WindowMaster/target/
/PracticeProgramming/target/
/PracticeProgramming/bin/target/
/ClassModeling/target/
/SimpleCalculator/target/
/ShapesAndPerimeters/target/
/StateCapitals/target/
/UserIOClassLab/target/
/ClassRoster/target/
/StudentQuizGrades/target/
/AddressBook/target/
